*_fastq/
*_output/
intermediates/
reads/
otu/
dnabc/
primertrim/
okfasta/
scripts/__pycache__/
.snakemake/
snakejob*
transfer*
Igoucheva*
*.swp
manifest.csv
.DS_Store
.Rproj.user
.Rproj
.Rhistory
test_config.yml
total_read_counts.tsv
